<PropertiesBag version="1" tag="-1" type="13" itype="1">
	<TemplatesCount type="3" pos="0">17</TemplatesCount>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="1">
		<Name type="8" pos="0">Normal</Name>
		<T00 type="3" pos="1">1000</T00>
		<T01 type="3" pos="2">0</T01>
		<T02 type="3" pos="3">0</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">0</T10>
		<T11 type="3" pos="6">1000</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">0</T20>
		<T21 type="3" pos="10">0</T21>
		<T22 type="3" pos="11">1000</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="2">
		<Name type="8" pos="0">Emphase</Name>
		<T00 type="3" pos="1">1400</T00>
		<T01 type="3" pos="2">-200</T01>
		<T02 type="3" pos="3">-200</T02>
		<T03 type="3" pos="4">-400</T03>
		<T10 type="3" pos="5">-200</T10>
		<T11 type="3" pos="6">1400</T11>
		<T12 type="3" pos="7">-200</T12>
		<T13 type="3" pos="8">-550</T13>
		<T20 type="3" pos="9">-200</T20>
		<T21 type="3" pos="10">-200</T21>
		<T22 type="3" pos="11">1400</T22>
		<T23 type="3" pos="12">-400</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="3">
		<Name type="8" pos="0">Average</Name>
		<T00 type="3" pos="1">750</T00>
		<T01 type="3" pos="2">125</T01>
		<T02 type="3" pos="3">125</T02>
		<T03 type="3" pos="4">750</T03>
		<T10 type="3" pos="5">125</T10>
		<T11 type="3" pos="6">750</T11>
		<T12 type="3" pos="7">125</T12>
		<T13 type="3" pos="8">1000</T13>
		<T20 type="3" pos="9">125</T20>
		<T21 type="3" pos="10">125</T21>
		<T22 type="3" pos="11">750</T22>
		<T23 type="3" pos="12">750</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="4">
		<Name type="8" pos="0">Negative</Name>
		<T00 type="3" pos="1">-1000</T00>
		<T01 type="3" pos="2">0</T01>
		<T02 type="3" pos="3">0</T02>
		<T03 type="3" pos="4">255000</T03>
		<T10 type="3" pos="5">0</T10>
		<T11 type="3" pos="6">-1000</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">255000</T13>
		<T20 type="3" pos="9">0</T20>
		<T21 type="3" pos="10">0</T21>
		<T22 type="3" pos="11">-1000</T22>
		<T23 type="3" pos="12">255000</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="5">
		<Name type="8" pos="0">Grayscale</Name>
		<T00 type="3" pos="1">110</T00>
		<T01 type="3" pos="2">590</T01>
		<T02 type="3" pos="3">300</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">110</T10>
		<T11 type="3" pos="6">590</T11>
		<T12 type="3" pos="7">300</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">110</T20>
		<T21 type="3" pos="10">590</T21>
		<T22 type="3" pos="11">300</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="6">
		<Name type="8" pos="0">Cold</Name>
		<T00 type="3" pos="1">1000</T00>
		<T01 type="3" pos="2">300</T01>
		<T02 type="3" pos="3">100</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">100</T10>
		<T11 type="3" pos="6">1000</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">6600</T13>
		<T20 type="3" pos="9">0</T20>
		<T21 type="3" pos="10">0</T21>
		<T22 type="3" pos="11">1000</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="7">
		<Name type="8" pos="0">Warm</Name>
		<T00 type="3" pos="1">700</T00>
		<T01 type="3" pos="2">200</T01>
		<T02 type="3" pos="3">100</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">0</T10>
		<T11 type="3" pos="6">1100</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">200</T20>
		<T21 type="3" pos="10">-100</T21>
		<T22 type="3" pos="11">1000</T22>
		<T23 type="3" pos="12">16200</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="8">
		<Name type="8" pos="0">Fluorescence</Name>
		<T00 type="3" pos="1">1000</T00>
		<T01 type="3" pos="2">0</T01>
		<T02 type="3" pos="3">1600</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">0</T10>
		<T11 type="3" pos="6">1000</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">0</T20>
		<T21 type="3" pos="10">-2800</T21>
		<T22 type="3" pos="11">1000</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="9">
		<Name type="8" pos="0">Night</Name>
		<T00 type="3" pos="1">900</T00>
		<T01 type="3" pos="2">0</T01>
		<T02 type="3" pos="3">0</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">-200</T10>
		<T11 type="3" pos="6">1000</T11>
		<T12 type="3" pos="7">-100</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">-300</T20>
		<T21 type="3" pos="10">-100</T21>
		<T22 type="3" pos="11">1000</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="10">
		<Name type="8" pos="0">Retro Sunset</Name>
		<T00 type="3" pos="1">1000</T00>
		<T01 type="3" pos="2">-600</T01>
		<T02 type="3" pos="3">0</T02>
		<T03 type="3" pos="4">41100</T03>
		<T10 type="3" pos="5">-200</T10>
		<T11 type="3" pos="6">1200</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">100</T20>
		<T21 type="3" pos="10">200</T21>
		<T22 type="3" pos="11">1000</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="11">
		<Name type="8" pos="0">Post Apocalypse</Name>
		<T00 type="3" pos="1">1000</T00>
		<T01 type="3" pos="2">0</T01>
		<T02 type="3" pos="3">600</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">100</T10>
		<T11 type="3" pos="6">1000</T11>
		<T12 type="3" pos="7">700</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">300</T20>
		<T21 type="3" pos="10">800</T21>
		<T22 type="3" pos="11">1000</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="12">
		<Name type="8" pos="0">Mars</Name>
		<T00 type="3" pos="1">0</T00>
		<T01 type="3" pos="2">-3000</T01>
		<T02 type="3" pos="3">0</T02>
		<T03 type="3" pos="4">100000</T03>
		<T10 type="3" pos="5">0</T10>
		<T11 type="3" pos="6">1000</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">3000</T20>
		<T21 type="3" pos="10">-400</T21>
		<T22 type="3" pos="11">1000</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="13">
		<Name type="8" pos="0">Exchange BGR-&gt;RBG</Name>
		<T00 type="3" pos="1">0</T00>
		<T01 type="3" pos="2">0</T01>
		<T02 type="3" pos="3">1000</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">1000</T10>
		<T11 type="3" pos="6">0</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">0</T20>
		<T21 type="3" pos="10">1000</T21>
		<T22 type="3" pos="11">0</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="14">
		<Name type="8" pos="0">Exchange BGR-&gt;GRB</Name>
		<T00 type="3" pos="1">0</T00>
		<T01 type="3" pos="2">1000</T01>
		<T02 type="3" pos="3">0</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">0</T10>
		<T11 type="3" pos="6">0</T11>
		<T12 type="3" pos="7">1000</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">1000</T20>
		<T21 type="3" pos="10">0</T21>
		<T22 type="3" pos="11">0</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="15">
		<Name type="8" pos="0">Exchange BGR-&gt;BRG</Name>
		<T00 type="3" pos="1">1000</T00>
		<T01 type="3" pos="2">0</T01>
		<T02 type="3" pos="3">0</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">0</T10>
		<T11 type="3" pos="6">0</T11>
		<T12 type="3" pos="7">1000</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">0</T20>
		<T21 type="3" pos="10">1000</T21>
		<T22 type="3" pos="11">0</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="16">
		<Name type="8" pos="0">Exchange BGR-&gt;RGB</Name>
		<T00 type="3" pos="1">0</T00>
		<T01 type="3" pos="2">0</T01>
		<T02 type="3" pos="3">1000</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">0</T10>
		<T11 type="3" pos="6">1000</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">1000</T20>
		<T21 type="3" pos="10">0</T21>
		<T22 type="3" pos="11">0</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
	<Template version="1" tag="-1" type="13" itype="1" ctype="0" pos="17">
		<Name type="8" pos="0">Exchange BGR-&gt;GBR</Name>
		<T00 type="3" pos="1">0</T00>
		<T01 type="3" pos="2">1000</T01>
		<T02 type="3" pos="3">0</T02>
		<T03 type="3" pos="4">0</T03>
		<T10 type="3" pos="5">1000</T10>
		<T11 type="3" pos="6">0</T11>
		<T12 type="3" pos="7">0</T12>
		<T13 type="3" pos="8">0</T13>
		<T20 type="3" pos="9">0</T20>
		<T21 type="3" pos="10">0</T21>
		<T22 type="3" pos="11">1000</T22>
		<T23 type="3" pos="12">0</T23>
	</Template>
</PropertiesBag>
